@import "tailwindcss"; 
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
:root {
  --font-geist-sans: 'Geist', sans-serif;
}
